<section class="page" id="{{ .Params.anchor }}">
    <h1>
        <a href="#{{ .Params.anchor }}">{{ .Title }}</a>
    </h1>
    <small>{{ .TableOfContents }}</small>
    <div class="content">
        {{ .Content }}
    </div>
</section>
