<div class="sidebar sidebar-{{ .Site.Params.sidebarColor}}">
    <div class="navigation">
      {{ partial "logo.html" }}
      <center>
        <h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      </center>
      <hr>
      <small>
        <nav class="internal">{{ partial "menu.html" . }}</nav>
      </small>
      <hr>
        <nav class="external">
            <div class="external-title">{{ .Site.Params.externalTitle }}</div>
            {{ with .Site.Menus.shortcuts }}
            <ul id="shortcuts">
                {{ range sort . "Weight" }}
                <li>
                    <a href="{{.URL}}" target="_blank" rel="noopener">{{safeHTML .Name}}</a>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </nav>
    </div>

    <div class="version">
            udpated on {{ now.Format "Jan 2, 2006" }}
    </div>
</div>
